<div class="container-fluid">
    <div class="row bg-info about-me1 justify-content-center shadow ">
        <div class="about-me2 ">
            <span class="span1">
                <h1>Hi ! There</h1>
            </span>
            <span class="span2">
                <h1>I am a Full stack <br>Developer</h1>
            </span>
            <ul class="aboutme-list mt-3 ">
                <li><a href="#"><i class="fa-brands fa-facebook "></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-basketball"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row aboutme-10">
        <div class="aboutme-3 shadow">
        </div>
        <!-- image-div -->
    </div>
    <div class="row justify-content-center">
        <div class="">
            <span class="text-uppercase aboutme-span3">resume</span>
            <div class="justify-content-center d-flex"><span class="text-uppercase aboutme-span4">About <span
                        class="aboutme-span5">Me</span></span></div>
        </div>
    </div>
    <!-- TABS -->
    <div class="row">
        <div class="col-3 aboutme-tabs-container">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active aboutme-tab1 my-3" id="v-pills-home-tab" data-toggle="pill"
                    href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i
                        class="fa-solid fa-id-card mx-3 mt-1"></i>my profile</a>
                <a class="nav-link aboutme-tab1 my-3" id="v-pills-profile-tab" data-toggle="pill"
                    href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i
                        class="fa-solid fa-briefcase mx-3 mt-1"></i>experiance</a>
                <a class="nav-link aboutme-tab1 my-3" id="v-pills-messages-tab" data-toggle="pill"
                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i
                        class="fa-solid fa-graduation-cap mx-3 mt-1"></i>education</a>
                <a class="nav-link aboutme-tab1 my-3" id="v-pills-settings-tab" data-toggle="pill"
                    href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i
                        class="fa-solid fa-star mx-3 mt-1"></i>skills</a>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12  mt-3 ">
            <div class="tab-content aboutme-tab-content " id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="col-12 aboutme-tab1-content text-center">
                        <span class=""><i class="fa-solid fa-id-card mx-3 mt-1"></i>my profile</span>
                    </div>
                    <div class="p-4 pr-5">
                        <p>I'm a Full stack developer with 7 years experience Lorem ipsum dolor sit amet eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen</p>
                            <div class=" d-flex">
                         <section class="col-5 aboutme-tab1-content-section1">
                            <label class="font-weight-bold">First Name :</label> Parsha Ramulu<br>
                            <label class="font-weight-bold">Last Name :</label> Bolgam<br>
                            <label class="font-weight-bold">Date of birth : </label>09 10 1999<br>
                            <label class="font-weight-bold">Job :</label> Full stack developer<br>
                            <label class="font-weight-bold">Nationality :</label> Indian<br>
                            <label class="font-weight-bold">Freelance :</label> Available
                        </section>
                        <section class="col-5 aboutme-tab1-content-section1">
                            <label class="font-weight-bold">Phone :</label> 9398872255<br>
                            <label class="font-weight-bold">Residence : </label> Hyderabad<br>
                            <label class="font-weight-bold">Email :</label> goudparshuram6@gmail.com<br>
                            <label class="font-weight-bold">spoken languages :</label> Telugu,Hindi,English<br>
                            <label class="font-weight-bold">Skype :</label> goudparshuram6@gmail.com<br>
                            <label class="font-weight-bold">Whats app :</label> 939887225
                        </section>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="col-12 aboutme-tab1-content text-center">
                        <span ><i class="fa-solid fa-briefcase mx-3 mt-1"></i>experiance</span>
                    </div>
                    <div class="p-4">
                    <section class="aboutme-tab2-content-section1">
                        <label class="font-weight-bold">Full stack developer - <span class="font-weight-lighter">Google</span></label><br>
                        <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2019-2022</label><br>
                         <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus pretium orci sit amet mi ullamcorper</p>
                              <hr>
                    </section>
                    <section class="aboutme-tab2-content-section1">
                        <label class="font-weight-bold">Full stack developer - <span class="font-weight-lighter">Microsoft</span></label><br>
                        <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2017-2019</label><br>
                         <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus pretium orci sit amet mi ullamcorper</p>
                              <hr>
                    </section>
                    <section class="aboutme-tab2-content-section1 ">
                        <label class="font-weight-bold">Full stack developer - <span class="font-weight-lighter">Tcs</span></label><br>
                        <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2015-2017</label><br>
                         <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Phasellus pretium orci sit amet mi ullamcorper</p>
                    </section>
                </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                
                    <div class="col-12 aboutme-tab1-content text-center">
                        <span><i class="fa-solid fa-graduation-cap mx-3 mt-1"></i>education</span>
                    </div>
                    <div class="p-4">
                        <section class="aboutme-tab2-content-section1">
                            <label class="font-weight-bold">Btech- <span class="font-weight-lighter">Cmr technical campus</span></label><br>
                            <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2011-2015</label><br>
                             <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus pretium orci sit amet mi ullamcorper</p>
                                  <hr>
                        </section>
                        <section class="aboutme-tab2-content-section1">
                            <label class="font-weight-bold">Intermediate - <span class="font-weight-lighter">Sri chaitanya junior college</span></label><br>
                            <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2009-2011</label><br>
                             <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus pretium orci sit amet mi ullamcorper</p>
                                  <hr>
                        </section>
                        <section class="aboutme-tab2-content-section1 ">
                            <label class="font-weight-bold">Ssc- <span class="font-weight-lighter">Little pearls high school</span></label><br>
                            <label class="font-weight-lighter"><i class="fa-solid fa-calendar mr-2 font-weight-light"></i>2008-2009</label><br>
                             <p class="aboutme-tab2-content-section1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus pretium orci sit amet mi ullamcorper</p>
                        </section>
                    </div> 
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="col-12 aboutme-tab1-content text-center">
                        <span><i class="fa-solid fa-star mx-3 mt-1"></i>Skills</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row aboutme-footer">
       <div class="col-4">
        <i class="fa-solid fa-diagram-project mb-3 mr-4"></i>
        <h1>87+</h1>
        <span>Projects</span>
       </div>
       <div class="col-4 justify-content-center">
        <i class="fa-solid fa-building-shield mb-3 mr-4"></i>
        <h1>150+</h1>
        <span>Freelance projects</span>
       </div>
       <div class="col-4 ">
        <i class="fa-solid fa-face-smile mb-3 mr-4"></i>
        <h1>100+</h1>
        <span class="text-center">Game Applications</span>
       </div>
    </div>
</div>
