<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="">
            <span class="text-uppercase contact-span1">Contact</span>
            <div class="justify-content-center d-flex"><span class="text-uppercase contact-span2">Get
            <span class="contact-span3">In touch</span></span></div>
        </div>
      </div>
</div>
<!-- FORM -->
<div class="container-fluid my-5 mb-1">
    <div class="row  justify-content-around">
        <div class="col-lg-7  col-sm-12 contact-left-div ">
        <h2>FEEL FREE TO DROP ME A MESSAGE</h2>
        <p>Need to speak to me? Do you have any queries or suggestions? or even you want to say Hello ! Please contact me about all enquiries using the form below.</p>
        <form class="d-flex">
            <input type="text"placeholder="YOUR NAME"required="required"class="form-control mr-3 "> <input type="email"placeholder="YOUR EMAIL"required="required"class="form-control"> 
        </form>
        <textarea placeholder="YOUR MESSAGE"></textarea>
        <button class="btn btn-primary mt-3">Send message</button>
        </div>
        <div class=" col-lg-3 col-sm-12 pt-3 contact-right-div">
        <div class="border ">
         <h3><i class="fa-solid fa-house-chimney pr-3"></i> RESIDENCE</h3>
            <p class="">123 Disney Street Slim Av. Brooklyn Bridge, NY, New York</p>
            <h3><i class="fa-solid fa-phone pr-4"></i>Phone</h3>
            <p class="">+216 21 184 010</p>
            <h3><i class="fa-solid fa-envelope pr-4"></i>Email</h3>
            <p class="">goudparshuram6@gmail.com</p>
            <h3><i class="fa-solid fa-share-nodes pr-4"></i>Social profiles</h3>
            <ul class="d-flex contact-li-unstyled ml-2">
                <li><a href="#"><i class="fa-brands fa-facebook "></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="conainer contact-footer-div py-2">
<footer class="text-center mt-3 text-muted">
<p>Copyright © 2018 Maryouma All Rights Reserved | Created with Love by <a href="https://themeforest.net/user/celtano"target="_blank">celtano</a></p>
</footer>
</div>