<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="">
            <span class="text-uppercase l-post-span1">articles</span>
            <div class="justify-content-center d-flex"><span class="text-uppercase l-post-span2">latest
            <span class="l-post-span3"> posts</span></span></div>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row mt-4">
      <div class="card-deck">
          <div class="card  border-0">
            <img src="http://slimhamdi.net/maryouma/demos/images/blog/blog-post-small-1.jpg" class="card-img-top" alt="...">
            <div class="mt-4">
              <h5 class="card-title "><span class=" text-uppercase card-images-margin">How to be a good freelancer?</span></h5>
              <p class="card-text text-muted">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
            </div>
          </div>
          <div class="card border-0">
            <img src="http://slimhamdi.net/maryouma/demos/images/blog/blog-post-small-2.jpg" class="card-img-top" alt="...">
            <div class="mt-4">
                     <h5 class="card-title "><span class=" text-uppercase card-images-margin">How to be a good freelancer?</span></h5>
              <p class="card-text text-muted">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card border-0">
            <img src="http://slimhamdi.net/maryouma/demos/images/blog/blog-post-small-3.jpg" class="card-img-top" alt="...">
            <div class="mt-4 ">
              <h5 class="card-title "><span class=" text-uppercase card-images-margin">How to be a good freelancer?</span></h5>
              <p class="card-text text-muted">dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-5">
      <div class="row l-post-footer justify-content-center align-items-center">
        <div class="col-8">
          <marquee >
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/activeden-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/audiojungle-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/codecanyon-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/graphicriver-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/photodune-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/themeforest-dark-background.png" class="img-fluid mx-5">
            <img src="http://slimhamdi.net/maryouma/demos/images/logos/3docean-dark-background.png" class="img-fluid mx-5">
          </marquee>
        </div>
      </div>
    </div>